In [1]:
#importing relevant libraries
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
import pandas as pd
import numpy as np
df= pd.read_csv("/content/train.csv",delimiter=";")
df['Age']=df['Age'].fillna(df['Age'].mean())
df.isnull().sum()
df["Cabin"].fillna('G6',inplace=True)
df

     PassengerId Survived  Pclass  ...     Fare  Cabin  Embarked
0            343       No       2  ...  13.0000     G6         S
1             76       No       3  ...   7.6500  F G73         S
2            641       No       3  ...   7.8542     G6         S
3            568       No       3  ...  21.0750     G6         S
4            672       No       1  ...  52.0000    B71         S
..           ...      ...     ...  ...      ...    ...       ...
886           10      Yes       2  ...  30.0708     G6         C
887           61       No       3  ...   7.2292     G6         C
888          535       No       3  ...   8.6625     G6         S
889          102       No       3  ...   7.8958     G6         S
890          428      Yes       2  ...  26.0000     G6         S

[891 rows x 12 columns]

In [3]:
import numpy as np
from sklearn.model_selection import train_test_split
x=df["Age"].values[:,np.newaxis]
y=df["Survived"].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35,random_state=40)
df

     PassengerId Survived  Pclass  ...     Fare  Cabin  Embarked
0            343       No       2  ...  13.0000     G6         S
1             76       No       3  ...   7.6500  F G73         S
2            641       No       3  ...   7.8542     G6         S
3            568       No       3  ...  21.0750     G6         S
4            672       No       1  ...  52.0000    B71         S
..           ...      ...     ...  ...      ...    ...       ...
886           10      Yes       2  ...  30.0708     G6         C
887           61       No       3  ...   7.2292     G6         C
888          535       No       3  ...   8.6625     G6         S
889          102       No       3  ...   7.8958     G6         S
890          428      Yes       2  ...  26.0000     G6         S

[891 rows x 12 columns]

In [4]:
def preprocess_data(new_data):
    new_data['Age'].fillna(new_data['Age'].mean(),inplace=True)
    new_data.replace({'Sex':{'male': 1,'female':0}},inplace=True)
    new_data['Cabin']=new_data.Cabin.fillna('G6')
    new_data.replace({'Survived':{'Yes': 1,'No':0}},inplace=True)
    return new_data
data=preprocess_data(df)

In [5]:
#features extraction
x=data.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= df["Survived"]

#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

#applying tree algorithm
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7877094972067039

In [13]:

dtree = tree.DecisionTreeClassifier(criterion="gini", splitter='random',max_leaf_nodes=10 ,min_samples_leaf=5 ,max_depth=3)  
dtree.fit(x_train, y_train)   #fitting our model
y_pred=dtree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.776536312849162

In [14]:
from sklearn import tree
!pip install graphviz
dot_data = tree.export_graphviz(dtree,out_file=None,
                               feature_names=x.columns,
                               class_names=["Yes","No"],
                               filled=True)
graph=graphviz.Source(dot_data)
graph.render("tree")
graph

Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (0.10.1)

In [18]:
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier #Importing Random Forest Classifier
from sklearn import metrics  # Importing metrics to test accuracy
clf=RandomForestClassifier(n_estimators=10)  #Creating a random forest with 100 decision trees
clf.fit(x_train, y_train)  #Training our model
y_pred=clf.predict(x_test)  #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))  #Measuring the accuracy of our model

Accuracy: 0.8491620111731844

In [ ]:
#the random forest score has a better accuracy score than decision tree clasifier